*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #E8491D;
    --secondary-color: #35424A;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.4;
    background: #f4f4f4;
}

.container{
    max-width: 85%;
    margin: 0 auto;
    padding: 1rem;
}

.primary-text{
    color: var(--primary-color);
}

a{
    text-decoration: none;
    color: #333;
}

label{
    display: block;
}

img{
    max-width: 100%;
    height: auto;
}

.p-1{
    padding: 1.5rem;
}

.p-01{
    padding: 0.8rem;
}

.p-2{
    padding: 2.5rem;
}
.p-3{
    padding: 3.5rem;
}

.py-1{
    padding: 1rem 0;
}
.py-2{
    padding: 2.5rem 0;
}
.py-3{
    padding: 3.5rem 0;
}

.m-1{
    margin: 0.5rem 0;
}

.main-heading{
    font-size: 3.3rem;
    line-height: 2;
}

.min-heading{
    font-size: 1.6rem;
    line-height: 1.5;
}

.lead{
    font-size: 1.3rem;
}

.btn{
    display: inline-block;
    padding: 0.6rem 0.5rem;
    border: none;
}

.main {
    background: var(--primary-color);
    color: #fff;
    padding: 0.6rem 0.8rem;
    cursor: pointer;
}

.main:hover{
    opacity: 0.95;
}

ul{
    list-style-type: none;
}

.bg-dark{
    background: var(--secondary-color);
    color: #fff;
}
.bg-light{
    background: #e5e5e5;
    color: #000;
    border: 1px #ccc solid;
}

/* Heading */

 #main-header {
    background-color: var(--secondary-color);
    border-bottom: 3.5px var(--primary-color) solid;
    padding: 0.7rem;
 }

#main-header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: #fff;;
    justify-self: center;
    text-align: center;
}

#main-header .container ul{
    list-style-type: none;
    display: flex;
}

#main-header .container ul li{
    margin: 0 1rem;
}

#main-header .container ul li a{
    color: #fff;
    font-size: 1.25rem;
}

#main-header .container ul li a.current{
    color: var(--primary-color);
    font-weight: bold;
    transition: all 0.2s;
}

#main-header .container ul li a:hover{
    font-weight: bold;
    color: #ccc;
}

/* Showcase */
#showcase{
    background: #333 url(img/showcase.jpg) no-repeat 50% center/cover;
    height: 60vh;
}

#showcase .container{
    display: flex;
    color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

/* Newsletter */
#newsletter {
    background: var(--secondary-color);
}

#newsletter .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #fff;
}

#newsletter .container input{
    border-radius: 2px;
    width: 250px;
}

/* Content */
#content .container ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#content .container ul h3{
    line-height: 3;
}

#content .container ul img{
    width: 100px;
    height: 100px;
}

/* About content */
#about-content .container{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 1rem;
    text-align: left;
}

#about-content .container .float{
    max-height: 50vh;
}

#about-content .container h3{
    line-height: 2.2;
}

#about-content .container .margin{
    margin-top: 0.8rem;
}

#about-content input, #about-content textarea{
    width: 90%;
}

#about-content .main{
    padding: 0.7rem 1.5rem;
    display: block;
}

@media (max-width: 800px){

    #main-header .container{
        justify-content: center;
        flex-direction: column;
    }

    #about-content .container, #content .container ul{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 900px){

    #showcase h1{
        font-size: 2rem;
        line-height: 1.1;
        margin-bottom: 1rem;;
    }

    #newsletter .container{
        justify-content: center;
        flex-direction: column;
        }
    
        #newsletter .container h2{
            line-height: 2.5;
        }
    
        #newsletter .container input{
            display: block;
            width: 400px;
            margin-bottom: 0.4rem;
        }
        #newsletter .container button{
            width: 100%;
        }
}

/* Footer */
#main-footer{
    background: var(--primary-color);
    color: #fff;
    text-align: center;
}